.card {
	height: 50vh;
	width: 25vw;
	margin: 3rem auto;
	transition: all 0.3s;
}

.card img {
	height: 40vh;
	display: block;
	margin: 10px auto;
	border-radius: 1rem;
}

.card:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.card div {
	width: 20vw;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	background-color: azure;
	padding: 20px;
	border-radius: 25px;
	border: 4px solid black;
	color: black;
}
